# ignore environment files
app/.env
# ignore __pycache__ directories and .pyc files
__pycache__/
.vscode/
*.pyc
# data directory
data/*
!data/odbc/
!data/oracle/
!data/samples/
# logs
logs/*
!logs/index.html
